*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'ralewayregular',Thaoma,Arial, Verdana, sans-serif;
}
/*FONTY*/

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonty/raleway-regular.woff') format('woff2'),
    url('../fonty/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ustawienie elementow standardowych dla całej strony */
header,section,footer,main{
    width:100%;
}
.container{
    width:1024px;
    margin:0 auto;
}
span{
    color: #24baa0;
}
a{
    text-decoration: none;
    color:white;
}
button{
    margin-top:20px;
    width:180px;
    height:40px;
    color:white;
    background-color: #24baa0;
    border-radius: 7px;
    border: none;
    font-size:18px;
}

/* Header style */
header{
    background-color: black;
}

header div.row{
    height:30px;
    display:flex;
    justify-content: space-between;
}

header h1{
    width: 70%;
    padding:4px;
    font-size: 16px;
    color:white;
}

header nav{
    width:30%;
}
nav ol {
    list-style-type:none;
    padding:0;
    margin:0;
    font-size:18px;
    text-align:center;
}
ol > li {
    float:left;
    width:100px;
}
ol a{
    display: block;
    padding:5px;
    text-decoration: none;
    color:white;
}

ol > li > ul > li {
    background-color:black;
}

nav ol>li>ul {
    list-style:none;
    font-size:14px;
    display:none;
}

ol > li:hover > ul {
    margin-top:6px;
    display:block;
}
ol > li:hover > ul:before {
    content:"";
    display:block;
    width:14px;
    height:14px;
    background-color: black;
    position:absolute;
    transform: rotate(45deg);
    top:30px;
    right:530px;
}

/* Style main */
/*Main - SlideShow*/
section.slideShow{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
div.slideShow{
    display:flex;
    height:400px;
    position:relative;
}
.slideShow div.image{
    width:50%;
    background-image: url("../images/black_chair.png");
    background-size: 100% ;
    background-position: left;
    background-repeat: no-repeat;
}
.slideShow div.text{
    width:50%;
    line-height:1.6 ;
    text-align:center;
    margin-right:90px;
}
div.text h2{
    font-weight: 900 ;
    font-size:32px;
    margin-top:80px;
}
div.text p{
    font-size: 14px;
    color: #585858;
}
div.text button{
    margin-top:20px;
    width:180px;
    height:40px;
}

/*Main -products*/
section.products{
    display: flex;
    height:300px;
}

section.products article{
    width:33.333%;
    position:relative;
    margin:14px;
    background-image: url("../images/box1_img.jpg");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}
section.products article:nth-of-type(2){
    background-image: url("../images/box2_img.jpg");
}

section.products article:nth-of-type(3){
    border:1px solid lightgrey;
    padding: 14px 18px 0 18px;
    margin: 44px 14px 14px 14px;
    background: none;
}

div.productOpacityLine{                /* Linia z opacity na obrazku*/
    width:100%;
    height:60px;
    padding:20px;
    position:absolute;
    bottom:50px;
    background: rgba( 255, 255, 255, 0.5);  /* Przezroczystosc zamiast opacity,zeby nie dziedziczyly napisy */
}

section.products article h2{
    font-weight: bolder;
    font-size:14px;
}
section.products article h2:after{
    content:"";
    background-color:#24baa0;
    display: block;
    width:124px;
    height:6px;
}

section.products p{
    font-size: 12px;
    margin-top:14px;
}
/*Main-prices*/

section.prices{
    background-color: #edefed;
}
div.prices{
    display:flex;
    height:600px;
    position:relative;
}
section.prices h2{
    margin-top:0;
    position:absolute;
    top:20px;
    left:20px;
}
section.prices h2:after{
    content:"";
    background-color:#24baa0;
    display: block;
    width:248px;
    height:6px;
}
section.prices h3{
    margin-top:30px;
}

section.prices article{
    position:relative;
    width:33.333%;
    border:1px solid lightgrey;
    display:flex;
    justify-content: center;
    margin:100px 20px 0 20px;
    height:400px;
}
section.prices article:nth-of-type(2n+1){
    background-color: white;
    color:#24baa0;
}
section.prices article:nth-of-type(2){
    background-color: #24baa0;
    border:1px solid #24baa0;
    color:white;
}

section.prices div.circlePrice{
    height: 100px;
    width: 100px;
    background-color: white;
    border:1px solid lightgrey;
    border-radius: 50%;
    position: absolute;
    top:80px;
    left:104px;
}
section.prices article:nth-of-type(2) div.circlePrice{

    border:1px solid #24baa0;
}
div.circlePrice p{
    text-align: center;
    margin-top:16px;
    color:lightgrey;
    font-weight:bolder;
    font-size: 38px;
}
div.circlePrice p:nth-of-type(2){
    margin-top:2px;
    font-size: 14px;
}

section.prices article:nth-of-type(2) div.circlePrice p{
    color:#24baa0;
}

div.circlePrice p sup{
    font-size: 16px;
}

.deal{
    width:100%;
    height:200px;
    position: absolute;
    bottom: 0;
}

.deal p{
    height: 30px;
    text-align: center;
    padding-top:4px;
    color: grey;
}
.deal p:nth-of-type(2n+1){
    background-color: lightgrey;
}
.deal p:nth-of-type(2n+2){
    background-color: #e5e7e5;
}
section.prices article:nth-of-type(2) .deal p:nth-of-type(2n+1) {
    background-color: #e3e5e3;
}
section.prices article:nth-of-type(2) .deal p:nth-of-type(2n+2){
    background-color: #c2c4c2;
}

.deal button{
    width:150px;
    height:30px;
    position:absolute;
    bottom:20px;
    left:75px;
}

section.prices article:nth-of-type(2) .deal button{
    background-color:white;
}
article:nth-of-type(2) .deal button a{
    color: #24baa0;
}

/*Main-contact*/
section.contact{
    display: flex;
    height:400px;
    position:relative;
}
section.contact h2{
    margin-top:0;
    position:absolute;
    top:20px;
    left:20px;
}
section.contact h2:after{
    content:"";
    background-color:#24baa0;
    display: block;
    width:248px;
    height:6px;
}
section.contact article{
    width:100%;
}

section.contact div.img{
    position: absolute;
    top:70px;
    right:105px;
    height:180px;
    width:240px;
    background-image: url("../images/red_chair.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

input.check{
    display:none;
}

.check + label{
    width: 40px;
    height: 40px;
    border:1px solid #24baa0;
    display: block;
    cursor: pointer;
    position: absolute;
    bottom: 100px;
    right: 268px;
}
.check:checked + label {
    background-image: url("../images/form_ok.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

p.checkbox{
    display: flex;
    width:200px;
    position: absolute;
    bottom: 6px;
    right: -210px;
    font-size: 12px;
    color:grey;

}
section.contact form{
    margin:100px 0 0 20px;
}

form input{
    margin-bottom:10px;
    padding:4px;
    height:50px;
    width:620px;
    border: 1px solid #24baa0;
    font-size:24px;
    color:lightgrey;
}
form textarea{
    height:150px;
    width:620px;
    border:  1px solid #24baa0;
    padding:4px;
    font-size:24px;
    color:lightgrey;
}
button.send {
    width:260px;
    height:60px;
    position:absolute;
    bottom:30px;
    right:50px;
    font-size: 23px;
}

/*Footer*/
footer{
    background-color: white;
}
div.copyright{
    height:50px;
    display:flex;
    justify-content: space-between;
}

.copyright h2{
    width:20%;
    color:grey;
    font-size:16px;
    text-align: right;
    padding: 28px 60px 0 0;
    position: relative;
}

.copyright h2 span{

    color:gray;
    font-weight: bolder;
}

.copyright p{
    width: 50%;
    padding-top:28px;
    font-size: 14px;
    color:grey;
}

ul.footer{
    width: 30%;
    text-align: right;
}
ul.footer li{
    display:inline-block;
    margin: 14px 2px 0 0;
}
a.footer{
    display: block;
    width:30px;
    height:30px;
    background-size: contain;
}
a.flickr {
    background-image: url("../images/vimeo.png");
}
a.vimeo{
    background-image: url("../images/flickr.png");
}
a.pintrest{
    background-image: url("../images/pinterest.png");
}
a.twiter{
    background-image: url("../images/twitter.png");
}

/*DECORATIONS*/
div.pricesDecorationCircle{
    height: 50px;
    width: 50px;
    background-color: white;
    border:1px solid lightgrey;
    border-radius: 50%;
    position: absolute;
    top:-25px;
    left:125px;
}
div.pricesDecorationInnerCircle{
    height: 26px;
    width: 26px;
    background-color: lightgrey;
    border-radius: 50%;
    position: absolute;
    top:-13px;
    left:137px;
}
section.prices article:nth-of-type(2) div.pricesDecorationCircle{
    background-color: #24baa0;
    border:1px solid #24baa0;
}

section.prices article:nth-of-type(2) div.pricesDecorationInnerCircle{
    background-color: white;
}

.arrow {
    position: absolute;
    padding: 20px; /* Arrow size */
    box-shadow: 1px -1px 0 1px #24baa0 inset;
    -webkit-box-shadow: 2px -2px #27c7ab inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transition: 0.2s;
}
.arrow:hover {
    box-shadow: 2px -2px 0 2px #24baa0 inset;
    -webkit-box-shadow: 4px -4px #27c7ab inset;
}
.arrow {
    top:200px;
    margin:-67px 0 0 -67px;
    left:80px;
    transform: rotate(45deg);
}

a:nth-of-type(2) {
    top:200px;
    left:1000px;
    transform: rotate(225deg);
}

